.address-modal-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.address-modal{
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top:5rem;
    left: 50%;
    transform:translate(-50%,0%);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}
.form-modal{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:1rem;
    left: 50%;
    transform:translate(-50%,0%);
    margin: auto;
    border-radius: 5px;
    background-color:white;
    width: 20rem;
    min-width: 10rem;
    border-radius: 10px;
    background-color: white;
}
.form-modal header{
    top: 0;
    right: 0;
    left: 0;
    border-radius:5px 5px 0px 0px ;
    color: white;
    background-color: #915dc2;
    padding: 1rem;
}

.form-container{
    padding: 1.5rem;
}

.form-container input{
    border: none;
    outline: none;
}
.form-container fieldset{
    border-radius: 10px;
}
.modal-btns{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
}
.modal-btns button{
    color: white;
    background-color:#915dc2;
    border-radius: 5px;
    padding: 0.4rem 0.5rem; 
    border: none;
    border: 1px solid #915dc2 ;
}