.signup-container{
    height: 100vh;
    display: flex;
    background-color: rgb(173, 173, 173);
}
.signup-card{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 40px 0px rgba(0,0,0,0.2);
    padding: 2rem 4rem;
}
.signup-card p,input,button{
    margin: 5px 0px;
}
.signup-card button{
    color: white;
    width: 100%;
    background-color:#915dc2 ;
    border-radius: 5px;
    padding: .5rem;
    border: none;
    border: 1px solid #915dc2;
    cursor:pointer;
}
.signup-card button:hover{
    color:#915dc2 ;
    background-color: white;
    transition:ease-in 0.25s;
    border: 1px solid black;
}
.signup-card input{
    padding: 0.5rem;
    border-radius: 5px;
}
.signup-card h2{
   align-self:self-start;
}
