/* page layout */
.checkout-container{
    margin: auto;
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: first baseline;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
    background-image:url("../../assets/home_background.jpg");
    background-size:cover;
}
.checkout-summary-container{
    max-width:50%;
    
}
.checkout-details-container{
    max-width: 50%;
    
}
.checkout-address-container{
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    border-radius: 7px;
}
.order-change-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    border-radius: 7px;
}
/* buttons */
.address-change-btn,.order-update-btn,.place-order-btn{
    margin:1rem;
    color: white;
    background-color:#915dc2 ;
    border-radius: 5px;
    padding: .5rem;
    border: none;
    border: 1px solid #915dc2;
    cursor: pointer;
}
.place-order-btn{
    display: block;
    margin:1rem auto;
    width: 70%;
    cursor: pointer;
}
.address-change-btn:hover,.order-update-btn:hover,.place-order-btn:hover{
    color:#915dc2 ;
    background-color: white;
    transition:ease-in 0.25s;
    border: 1px solid #915dc2;
}

.address-brief{
    max-width: 80%;
}
.order-brief{
    max-width: 80%;
}
/* Order modal */
.order-modal-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.order-modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:0rem;
    top: 5rem;
    left: 50%;
    transform: translate(-50%,0%);
    width: fit-content;
    height: 90vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

/*Order details alignment and css*/
.order-details-card{
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    min-width: 30%;
    padding: 1rem;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
    line-height: 1.5;
}
.order-details-card div p,.order-details-card p{
display: flex;
justify-content: space-between;
}
.order-details-card h3,.order-details-card div h3{
    text-align: center;
}
@media screen and (max-width:768px) {
  .checkout-container{
    flex-direction: column;
    height: auto;
  }
  .checkout-summary-container{
    max-width: none;
  }
  .checkout-details-container{
    max-width: none;
    margin: auto;
  }
}