@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin:0;
}
:root{
    --primary-color:#a3a1eb;
    --secondary-color:#333333;
}
header{
    max-width: 100%;
}
